@media only screen and (min-width: 1024px) and (max-width: 1200px){

nav{
    width: 110%;
    height: 8%;
    font-size: 214%;
    left: -4rem;  }

 header {
    width: 45%;
    height: 31%;
    top: 8rem;
    left: 31rem;} 
    header .cata { 
    font-size: 413%; 
    top: 0rem;
    left: -2rem; }  
    header .carpena {
    font-size: 413%;
    top: -8rem;
    left: 3rem;} 
  .headersecciones{  
    font-size: 934%;
    width: 40%;
    height: 52%;
    top: 8rem;
    left: 3rem;  }
    .seccion{
      top: -3rem; }
    .secciondos{
      left: 5rem;
      top: -13rem;  }

  .fotoiniciomain{
    left: 5rem;
    top: 6rem;}

  .fotoinicio{
    width: 36%;
    transform: rotate(-15deg)  }

  .redes {
    top: 7rem;
    left: 0rem;
  width: 3rem;
  height: 14rem;}
    .redesimg{
      width: 53%;
      margin-left: 10%;
      margin-top: 41%; }

  .h1musica{
    font-size: 607%;
    top: 14rem;
    left: 42rem;  }

  .pmusica{
    width: 92%;
    font-size: 100%;
    top: 22rem;
    margin: 1%;
    text-align: center;
  }

  .musicaseccion{
    margin: 0%;
    top: 28rem; }

   .ael{
    top: 0rem;   }

   .musicaredes{
      left: 28em;
      top: -6rem; 
      width: 7%; }

  .sectionmusic{
    width: 92%;
    top: 24rem;
    left: 2rem;
    grid-template-rows: 50% 50%;
    grid-template-columns: 33% 33% 33%;
  }

  .musicaredes3{
    top: -3rem;
    left: 7rem;  }
  .musicaredes23{
    top: -3rem;
    left: 8rem;  }

  .h1galeria{
    font-size: 610%;
    top: 14rem;
    left: 41rem;
  }

  #galeriaboot{
    top: 22rem;
    left: 2rem;
    width: 86%;  }

  .h1agenda{
    font-size: 610%;
    top: 14rem;
    left: 40rem;
  }

  .agendagrid{
    top: 23rem;
    width: 95%;
    height: 26rem;
    padding-top: 3%;
    grid-row-gap: 0rem;
    grid-template-columns: 21% 30% 25% 24%;
    grid-template-rows: 33% 33% 33%;
    font-size: 132%;
    left: 2rem; }
    
  .agendaredes{
    width: 15%;
  }

  .agendis{    
    padding: 10%; 
  }

  .h1recomendades{
    font-size: 353%;
    top: 16rem;
    left: 36rem;  }

  .mainrecomendades{
  width: 96%;
  left: 2rem;
  top: 20rem;
  height: 33rem;}

.h2reco{
  font-size: 300%;
  text-align: left;
}
.sectionrecomendades{
  margin: 2%;
  top: 30rem;
  height: 30rem;}
.h2reco2{
  position: relative;
  font-size: 290%;
  text-align: right;
}
.fotoplaylist{
  width: 40%;
  top: 2rem;
  left: 4rem;
}
.fotoplaylist2{
  width: 40%;
  top: 4rem;
  left: 7rem;
}
.fotoinspi{
  width: 24%;
  margin: 0%;
  left: 1rem;
}
  .h1contacto{
    font-size: 500%;
    top: 15rem;
    left: 37rem; }

  #formularioboots{
    top: 23rem;
    width: 59%;;
  }

  #formucentro{
    left: 10rem;
  }

  #formucentrodos{
    left: 14rem;
  }
  footer{
    top: 29rem;
    font-size: 132%;
    height: 3rem; }
    .redesimgfooter{
      width: 2%; }
}