@media only screen and (min-width:700px) and (max-width:1023px) {   
  nav{
    width: 108%;
    height: 7%;
    font-size: 195%;
    left: -3rem;  }
  header {
  width: 43%;
  height: 31%;  
  top: 10rem;
  left:23rem; } 
    header .cata { 
    font-size: 290%; 
    top: 0rem;
    left: 0rem; }  
    header .carpena {
    font-size: 290%;
    top: -6rem;
    left: 4rem;}
  
  .headersecciones{
    font-size: 690%;
    width: 50%;
    height: 10%;
    top: 6rem;
    left: 3rem; }
    .seccion{
    top: -1rem; }
    .secciondos{
    left: 4rem;
    top: -9rem;}

  .fotoiniciomain{
    left: 3rem;
    top: 2rem;
  }

  .fotoinicio{
    position: relative;
    left: 0rem;
    top: 3rem;
    width: 41%;  }

  .redes {
    top: 13rem;
    left: 0rem;
    width: 3rem;
   height: 10rem;}
    .redesimg{
      width: 52%;
      margin-left: 26%;
      margin-top: 9%; }

  .h1musica{
    font-size: 482%;
    top: 11rem;
    left: 30rem
  }

  .pmusica{
    width: 90%;
    font-size: 102%;
    top: 21rem;
    margin: 1%;
    text-align: center;
  }

  .musicaseccion{
    margin: 0%;
    top: 24rem; }

   .ael{
    top: 0rem;   }
    .musicaredes{
      left: 22rem;
      top: -5rem;
      width: 7%;    }

  .sectionmusic{
    width: 89%;
    top: 21rem;
    left: 2rem;
    grid-template-rows: 50% 50%;
    grid-template-columns: 33% 33% 33%;
  }

  .musicaredes3{
    top: -3rem;
    left: 5rem;
    width: 10%;  }
  .musicaredes23{
    top: -3rem;
    left: 6rem;
    width: 10%;  }

  .h1galeria{
    font-size: 482%;
    top: 11rem;
    left: 29rem
  }

  #galeriaboot{
    top: 18rem;
    left: 2rem;
    width: 89%;  }

  .h1agenda{
    font-size: 482%;
    top: 11rem;
    left: 29rem
  }

  .agendagrid{
    margin: 5%;
    top: 18rem;
    width: 87%;
    height: 15rem;
    left: 1rem;
    padding-top: 3%;
    grid-row-gap: 0rem;
    grid-template-columns: 21% 32% 24% 23%;
    grid-template-rows: 33% 33% 33%;
    font-size: 108%;  }

  .agendis{
    padding: 6%;
  }

  .agendaredes{
    width: 25%;
  }

  .h1recomendades{
    font-size: 256%;
    top: 13rem;
    left: 27rem
  }
  
.mainrecomendades{
  width: 91%;
  left: 3rem;
  top: 20rem;
  height: 33rem;}

.h2reco{
  font-size: 270%;
  text-align: left;
}
.sectionrecomendades{
  top: 27rem;
  height: 52rem;}
.h2reco2{
  position: relative;
  font-size: 240%;
  text-align: right;
}
.fotoplaylist{
  width: 45%;
  top: 2rem;
  left: 1rem;
}
.fotoplaylist2{
  width: 45%;
  top: 4rem;
  left: 3rem;
}
.fotoinspi{
  width: 40%;
  margin: 2%;
  left: 3rem;
}

  .h1contacto{
    font-size: 369%;
    top: 12rem;
    left: 28rem  }

  #formularioboots{
    top: 19rem;
    width: 59%;
  }

  #formucentro{
    left: 4rem;
  }

  #formucentrodos{
    left: 8rem;
  }
  footer{
    top: 25rem;
    font-size: 99%;
    height: 2rem; }
    .redesimgfooter{
      width: 3%; }
  }
