@media only screen and (min-width: 320px) and (max-width: 420px) {  
header {
    width: 75%;
    height: 30%;
    top: 30rem;
    left: 2rem;
    margin-top: 10%; }
  .cata {
    font-size: 185%;
    top: 0rem;
    left: 1rem;}
  .carpena {
    font-size: 185%;
    top: -4rem;
    left: 3rem;}
.fotoiniciomain {
  left: 4rem;
  top: 8rem;  }
  .fotoinicio{
    width: 64%;}
  .headersecciones{
    font-size: 517%;
    width: 85%;
    height: 10%;
    top: 6rem;
    left: 3rem }
.seccion {
    top: -1rem; 
   }
.secciondos {
    left: 3rem;
    top: -7rem;
    width: 2rem;
    height: 7rem; 
   }
nav {
    width: 110%;
    height: 6%;
    font-size: 111%;
    left: -2rem; }
  nav ul {
      width: 100%;}
.redes {
  width: 3rem;
  height: 8rem; 
  top: 6rem;
  left: 0rem;
  margin: 0%;
}
.redesimg{
    width: 38%;
    margin-left: 21%;
    margin-top: 13%;}
 .pmusica{  
    width: 80%;
    font-size: 84%;
    top: 24rem;
    margin: 1%;
  }
.musicaseccion {
    top: 27rem; }
.ael {
  top: 0rem; 
  margin: 0%;
  width: 100%;
  height: 10%;
 }
.musicaredes {
  left: 9rem;
  top: -2rem;  
  width: 7%; }
.musicaredes3{
  width: 10%;
  top: -2rem;
  left: 3rem;
 }
.musicaredes23{
  width: 10%;
  top: -2rem;
  left: 5rem;  
  }
.sectionmusic{
    width: 78%;
    top: 26rem;
    left: 2rem;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 50% 50%; }

.h1musica {
    top: 19rem; 
    font-size: 400%;    
    left: 3rem; }
.h1galeria {
    top: 19rem; 
    font-size: 390%;
    left: 3rem; }
.h1agenda {
    top: 19rem; 
    font-size: 400%;
    left: 2rem; }
.h1recomendades {
    top: 19rem;
    font-size: 274%;
    left: 2rem; }
.h1contacto {
    margin-left: 5%;
    top: 19rem; 
    font-size: 321%;
    left: 1rem; }
.agendagrid {
  margin-left: 5%;
  grid-template-rows: 33% 33% 33%;
  left: 1rem;
  top: 20rem;
  width: 81%;
  height: 11rem;
  grid-template-columns: 18% 35% 24% 23%;
  font-size: 58%;
}
.agendis{
    padding: 14%;  }
.agendaredes{
  width: 35%; }
#galeriaboot {
  top: 20rem;
  left: 0rem;
  width: 82%; }


.mainrecomendades{ 
  width: 90%;
  left: 2rem;
  top: 24rem;
  height: 33rem;}

.h2reco{
  font-size: 200%;
  text-align: right;
}
.sectionrecomendades{
  margin-left: 8%;
  margin-top: 2%;
  top: 27rem;
  height: 26rem;}
.h2reco2{
  position: relative;
  font-size: 150%;
  text-align: left;
}
.fotoplaylist{
  width: 55%;
  top: 2rem;
  left: 1rem;
}
.fotoplaylist2{
  width: 55%;
  top: 3rem;
  left: 7rem;
}
.fotoinspi{
  width: 40%;
  margin: 2%;
  left: 1rem;
}
#formularioboots {
  width: 80%;
   top: 20rem; 
  margin: 10%;
font-size: 83%;}
#formucentro {
    left: 0rem;
}
#formucentrodos {
left: 3rem; 
width: 30%; }
footer {
    top: 27rem;
    font-size: 88%;
    height: 3rem;
    text-align: center; }
    .redesimgfooter{
      width: 5%; }
    }