@media only screen and (min-width: 1200px){
nav{
    width: 110%;
    height: 8%;
    font-size: 214%;
    left: -4rem;  }

 header {
    width: 45%;
    height: 31%;
    top: 13rem;
    left: 41rem;} 
    header .cata { 
    font-size: 550%; 
    top: 0rem;
    left: -2rem; }  
    header .carpena {
    font-size: 550%;
    top: -9rem;
    left: 4rem;}
  .headersecciones{
    font-size: 1000%;
    width: 40%;
    height: 11%;
    top: 8rem;
    left: 4rem; }
    .seccion{
      top: -3rem; }
    .secciondos{
      left: 5rem;
      top: -13rem;  }

  .fotoiniciomain{
    left: 6rem;
    top: 9rem;}

  .fotoinicio{
    width: 35%;
    transform: rotate(-15deg);
    border-width: 15px;
    border-bottom-width:90px;   }

  .redes {
    top: 7rem;
    left: 0rem;
    width: 3rem;
    height: 16rem;}
    .redesimg{
      width: 53%;
      margin-left: 10%;
      margin-top: 41%; }

  .h1musica{
    font-size: 710%;
    top: 16rem;
    left: 58rem;
  }

  .pmusica{
    font-size: 100%;
    top: 26rem;
    margin: 1%;
    text-align: center;
  }

  .musicaseccion{
    margin: 0%;
    top: 31rem; }

   .ael{
    top: 0rem;   }

   .musicaredes{
      left: 40em;
      top: -7rem;
      width: 6%;   }

  .sectionmusic{
    top: 26rem;
  }

  .musicaredes3{
    top: -3rem;
    left: 11rem;
    width: 7%;  }
  .musicaredes23{
    top: -3rem;
    left: 12rem;
    width: 7%;  }

  .h1galeria{
    font-size: 710%;
    top: 15rem;
    left: 57rem;
  }

  #galeriaboot{
    top: 22rem;
    left: 18rem;
    width: 64%;  }

  .h1agenda{
    font-size: 710%;
    top: 15rem;
    left: 56rem;
  }

  .agendagrid{
    top: 23rem;
    left: 4rem;
    width: 90%;
    height: 23rem;
    grid-row-gap: 0rem;
    grid-template-columns: 21% 31% 25% 23%;
    grid-template-rows: 33% 33% 33%;
    font-size: 185%;
    padding-top: 3%; }

  .agendaredes{
    width: 15%;
  }

  .agendis{
    padding: 4%;
  }

  .h1recomendades{
    font-size: 530%;
    top: 15rem;
    left: 43rem;
  }

  .mainrecomendades{ 
  top: 24rem;
  height: 33rem;}

.h2reco{
  font-size: 370%;
  text-align: left;
}
.sectionrecomendades{
  top: 45rem;
  height: 55rem;}
.h2reco2{
  position: relative;
  font-size: 310%;
  text-align: right;
}
.fotoplaylist{
  width: 40%;
  top: 2rem;
  left: 6rem;
}
.fotoplaylist2{
  width: 40%;
  top: 4rem;
  left: 12rem;
}
.fotoinspi{
  width: 24%;
  left: 1rem;
}

  .h1contacto{
    font-size: 580%;
    top: 14rem;
    left: 50rem; }

  #formularioboots{
    top: 23rem;
    width: 53%;;
  }

  #formucentro{
    left: 14rem;
  }

  #formucentrodos{
    left: 16rem;
  }
  footer{
    top: 42rem;
    font-size: 122%;
    height: 3rem;
    text-align: center; }
  .redesimgfooter{
      width: 1%; }
  }